<div class="col-sm-4 col-md-3">
  <div class="thumbnail">
    <%= link_to book_path(book) do %>
    <%= image_tag "rails4.jpg", class: "img-responsive" %>
    <div class="caption">
      <p><strong></string><%= book.name %></strong></p>
      <p><%= book.price_fmt %></p>
    </div>
    <% end %>
    <%= render 'book_edit_link', book: book %>
  </div>
</div>